.spinner {
    padding: 30px;
}

.spinner img {
    margin: 20px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-animation-name: spin;
    -webkit-animation-duration: 5000ms;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    width: 150px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}