<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        {{ title }}!
    </h1>
    <img width="100" alt="Angular Logo" src="https://cdn.svgporn.com/logos/angular-icon.svg">
    <img width="100" alt="Travis CI Logo" src="https://s3-us-west-2.amazonaws.com/svgporn.com/logos/travis-ci.svg">
    <img width="100" alt="Travis CI Logo" src="https://cdn.svgporn.com/logos/firebase.svg">

    <div class="spinner">
        <img alt="Amazon Chime" src="https://cdn.svgporn.com/logos/amazon-chime.svg">
        <img alt="Alfresco" src="https://cdn.svgporn.com/logos/alfresco.svg">
        <img alt="Altair" src="https://cdn.svgporn.com/logos/altair.svg">
        <img alt="Apiary" src="https://cdn.svgporn.com/logos/apiary.svg">
        <img alt="Appium" src="https://cdn.svgporn.com/logos/appium.svg">
        <img alt="Atomic" src="https://cdn.svgporn.com/logos/atomic.svg">
        <img alt="Baker-street" src="https://cdn.svgporn.com/logos/baker-street.svg">
    </div>